
*.eps
*.aux
*.fls
*.fdb_latexmk
*.blg
*.out
*.xdv
_Overview/report.log
*.bcf
compar_paper/report.log
compar_paper/report.synctex.gz
NIR/main.log
NIR/main.synctex.gz
NIR/main.toc
NIR/main.run.xml
compar_paper/report.upb
compar_paper/report.upa
VKR/*.bbl
VKR/*.log
VKR/*.run.xml
VKR/*.synctex.gz
VKR/*.toc
VKR/.vscode/
